body {
    background-color: rgb(18, 72, 126);
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
}

/*estilos a los botones*/
button {
    background-color: white;
    box-shadow: 1px 2px 5px black;
    color: black;
    border: 0;
    border-radius: 5px;
    height: 60px;
    width: 80px;
    font-size: 1em;
    font-weight: 900;
    /*texto en negrita*/
    margin: 3px;
    margin-top: 10px;
}

#botones {
    margin-top: 10.5px;
    background-color: rgb(8, 45, 82);
    /*color de fondo*/
    border-radius: 7px;
    text-align: center;
    transform: translateX(117%);
    width: 405px;
    padding: 30px 0px 30px;
}

/*color de hover a los botones blancos*/
#buton-multiplicar:hover,
#buton-divicion:hover,
#buton-point:hover,
#buton-resta:hover,
#buton-suma:hover,
.num-buton:hover {
    background-color: rgb(224, 224, 224);
}


#buton-borar {
    background-color: rgb(22, 97, 172);
    /*color de fondo*/
    color: white;
}

#buton-borar:hover {
    background-color: rgb(17, 77, 138);
    /*color de hover*/
}

#butonReset {
    background-color: rgb(22, 97, 172);
    /*color de fondo*/
    color: white;
    width: 170px;
    height: 60px;
    font-size: 0.9em;
    text-align: center;
    box-shadow: 1px 2px 5px black;
}

#butonReset:hover {
    background-color: rgb(17, 77, 138);
    /*color de hover*/
}

#buton-igual {
    background-color: rgb(187, 46, 46);
    /*color de fondo*/
    color: white;
    width: 170px;
}

#buton-igual:hover {
    background-color: rgb(163, 34, 34);
    /*color de hover*/
}

/*texto calc*/
.text-calc {
    margin-top: 50px;
    color: white;
    font-weight: 900;
    text-align: center;
    margin-left: -355px;
}


/*imput*/
#imput {
    text-align: center;
}

input {
    background-color: rgb(6, 33, 59);
    /*color de fondo*/
    color: white;
    border: none;
    border-radius: 7px;
    padding: 13px;
    width: 375px;
    height: 50px;
    text-align: right;
    font-size: 1.50em;
    font-weight: 900;
    /*texto en negrita*/
}

/*Modo para celulares*/
@media (max-width:720px) {
    input {
        width: 275px;
        height: 70px;
        font-size: 3em;
    }

    #botones {
        margin-left: -145px;
        width: 300px;
        height: 350px;
    }

    /*posicion del texto*/
    .text-calc {
        margin-top: 0.1px;
        margin-right: -90px;
    }

    button {
        width: 60px;
        height: 60px;
    }

    #butonReset {
        width: 130px;
        height: 60px;
    }

    #buton-igual {
        width: 130px;
        height: 60px;
    }
}